<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="redlib.backend.dao.ScheduleMapper">
  <resultMap id="BaseResultMap" type="redlib.backend.model.Schedule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lab_name" jdbcType="VARCHAR" property="labName" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="course_time" jdbcType="VARCHAR" property="courseTime" />
    <result column="course_week" jdbcType="VARCHAR" property="courseWeek" />
    <result column="course_day" jdbcType="VARCHAR" property="courseDay" />
    <result column="semester_name" jdbcType="VARCHAR" property="semesterName" />
    <result column="student_num" jdbcType="INTEGER" property="studentNum" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>

  <sql id="Base_Column_List">
    id, lab_name, course_name, teacher_name, course_time, course_week, course_day, semester_name, 
    student_num, contact_phone, description, created_by, updated_by, created_at, updated_at, 
    deleted
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from schedule
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from schedule
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="redlib.backend.model.Schedule">
    insert into schedule (id, lab_name, course_name, 
      teacher_name, course_time, course_week, 
      course_day, semester_name, student_num, 
      contact_phone, description, created_by, 
      updated_by, created_at, updated_at,
      deleted)
    values (#{id,jdbcType=INTEGER}, #{labName,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, 
      #{teacherName,jdbcType=VARCHAR}, #{courseTime,jdbcType=VARCHAR}, #{courseWeek,jdbcType=VARCHAR}, 
      #{courseDay,jdbcType=VARCHAR}, #{semesterName,jdbcType=VARCHAR}, #{studentNum,jdbcType=INTEGER}, 
      #{contactPhone,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedBy,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP},
      #{deleted,jdbcType=TINYINT})
  </insert>

  <insert id="insertSelective" parameterType="redlib.backend.model.Schedule">
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="labName != null">
        lab_name,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="courseTime != null">
        course_time,
      </if>
      <if test="courseWeek != null">
        course_week,
      </if>
      <if test="courseDay != null">
        course_day,
      </if>
      <if test="semesterName != null">
        semester_name,
      </if>
      <if test="studentNum != null">
        student_num,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="labName != null">
        #{labName,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="courseTime != null">
        #{courseTime,jdbcType=VARCHAR},
      </if>
      <if test="courseWeek != null">
        #{courseWeek,jdbcType=VARCHAR},
      </if>
      <if test="courseDay != null">
        #{courseDay,jdbcType=VARCHAR},
      </if>
      <if test="semesterName != null">
        #{semesterName,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null">
        #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="redlib.backend.model.Schedule">
    update schedule
    <set>
      <if test="labName != null">
        lab_name = #{labName,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="courseTime != null">
        course_time = #{courseTime,jdbcType=VARCHAR},
      </if>
      <if test="courseWeek != null">
        course_week = #{courseWeek,jdbcType=VARCHAR},
      </if>
      <if test="courseDay != null">
        course_day = #{courseDay,jdbcType=VARCHAR},
      </if>
      <if test="semesterName != null">
        semester_name = #{semesterName,jdbcType=VARCHAR},
      </if>
      <if test="studentNum != null">
        student_num = #{studentNum,jdbcType=INTEGER},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="redlib.backend.model.Schedule">
    update schedule
    set lab_name = #{labName,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      course_time = #{courseTime,jdbcType=VARCHAR},
      course_week = #{courseWeek,jdbcType=VARCHAR},
      course_day = #{courseDay,jdbcType=VARCHAR},
      semester_name = #{semesterName,jdbcType=VARCHAR},
      student_num = #{studentNum,jdbcType=INTEGER},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询（分页）-->
  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from schedule
    <where>
      <if test="queryDTO.teacherName != null">
        and teacher_name like #{queryDTO.teacherName}
      </if>
      <if test="queryDTO.courseName != null">
        and course_name like #{queryDTO.courseName}
      </if>
      <if test="queryDTO.createdAt != null">
      and date(created_at)=date(#{queryDTO.createdAt})
      </if>
    </where>
    <if test="queryDTO.orderBy != null">
      order by ${queryDTO.orderBy}
    </if>
    <if test="queryDTO.orderBy == null">
      order by id desc
    </if>
    limit #{offset}, #{limit}
  </select>

  <!--查询实验安排列表（分页）命中个数-->
  <select id="count" resultType="integer">
    select count(*) from schedule
    <where>
      <if test="queryDTO.teacherName != null">
        and teacher_name like #{queryDTO.teacherName}
      </if>
      <if test="queryDTO.courseName != null">
        and course_name like #{queryDTO.courseName}
      </if>
      <if test="queryDTO.createdAt != null">
        and date(created_at)=date(#{queryDTO.createdAt})
      </if>
    </where>
  </select>

</mapper>